* {box-sizing: border-box; margin: 0; padding: 0; vertical-align: baseline;}

body, input, textarea, select, button {color: #222; font-family: 'Open Sans'; font-size: 15px;}
body {background: #f8f8f8;}
input, textarea, select, button, .btn {border-radius: 4px; padding: 5px 10px;}
input, textarea, select {background: #f8f8f8; border: solid #ddd 1px;}
input:focus, textarea:focus, select:focus {background: #f0f0f0;}
.btn, button {background: #47a; border: solid #369 1px; color: #fff; cursor: pointer;}
.btn:hover, button:hover {background: #369;}

#page404 {}

#pageHome {}

.authForm {align-items: center; background: #fff; border-radius: 10px; box-shadow: 0 0 10px 0 rgba(100,100,100,.1); display: flex; flex-direction: column; margin: 0 auto; max-width: 300px; padding: 15px 10px;}
.authForm > * {margin: 5px;}
.authForm h1 {font-size: 20px;}
